@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  a,
  input,
  button {
    font-family: "Montserrat", sans-serif;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000 !important;
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  }
  .dashboard-custom-shadow {
    box-shadow: 0px 0px 35px 18px rgba(234, 242, 251, 0.5);
  }
}

body {
  overflow-x: hidden;
  /* background-color: #f5f5f5; */
  background-color: #fbfefc;
}
.dashboard-title {
  @apply font-semibold text-left text-3xl text-[#333333] mb-6;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Choose";
  color: white;
  display: inline-block;
  background: #3385d7;
  border: 1px solid #3385d7;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: #3385d7;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #7e7d7d, #f9f9f9);
}
